body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.my-store-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid green;
}

.logo {
    font-size: 1.5rem;
    font-family: 'Cursive', sans-serif;
    color: black;
}

.nav-bar {
    display: flex;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: green;
    font-size: 1.2rem;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.store-content {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 50px;
    margin-top: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.my_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.my_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.num-carts {
    margin-top: 10px;
    color:#4c7747;
    font-weight: bold;
}

.my_item label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.item-price {
    font-weight: bold;
    margin: 3px;
}

.chat-button {
    background-color: #4c7747;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.chat-button:hover {
    background-color:rgb(41, 41, 41);
}